body{
    background-color: wheat;
    text-align: center;
}

.button{
    padding: 30px;
    font-size: 2em;
    margin: 15px;
}

#label{
    font-size: 5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
    text-shadow: 3px 3px 5px white;

}

#heisenberg{
    margin-top: 50px;
}