body{
    background-color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#button{
    padding: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    cursor: pointer;
    border-radius: 20px;
    background-color: bisque;
    
}

.labels{
    font-size: 5em;
    color: white;
    text-shadow: 4px 4px 6px black;
    margin-left: 50px;
}